#################################
#	IntelliJ IDEA Project files	#
#################################
.idea
*.iml
*.ipr
*.iws


###################
# Compiled source #
###################
bin/
*.class
.vscode